body {
   /* min-height: 75rem;*/
    padding-top: 4.5rem;
    background-color: rgba(230, 230, 230);
    }

h1 {
    color: red;
    }

.bookcover {
    height: 300px;
    width: auto;
}

.asteriskField {
    color: red;
}