{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Gestionar Citas{% endblock title %}
{% block content %}
<div class=" card w-70 shadow-lg  rounded">
    <div class="card-header">
        <div class="title-list">
            <i class="fa-solid fa-calendar-check"></i> Gestionar Citas
        </div>
        <b> </b>
    </div>
    <div class="card-body">
        <p class="card-text">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Cod</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Trámite</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th class="text-center"><i class="fa-solid fa-gears"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for citation in citations %}
                    <tr>
                        <td>{{ citation.id }}</td>
                        <td>{{ citation.id_person }}</td>
                        <td>{{ citation.id_process }}</td>
                        <td>{{ citation.date }}</td>
                        <td>{{ citation.time }}</td>

                        <td>
                            <a title="Ver" style="cursor: pointer;" href="../detail/{{ citation.id }}"> <i
                                    class="fa-solid fa-eye" style="color: #2980B9;"></i></a>
                            &nbsp;&nbsp;
                            <a title="Editar" style="cursor: pointer;" href="../update/{{ citation.id }}"><i
                                    class="fa-solid fa-pen" style="color: #F1C40F;"></i></a>
                            &nbsp;&nbsp;
                            <a title="Eliminar" style="cursor: pointer;" onclick="deleteCitation({{ citation.id }})"><i
                                    class="fa-solid fa-trash-can" style="color:  #E74C3C;"></i></a>
                            &nbsp;&nbsp;
                            <a title="Atender" style="cursor: pointer;" onclick="atenderCita({{ citation.id }})"><i
                                    class="fa fa-solid fa-check-circle"
                                    style="color: #117A65; font-weight: 200;"></i></a>


                        </td>


                        {% empty %}
                        <td colspan="2">No existen citas registradas</td>
                        {% endfor %}
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-end col-12 mt-3">
            <a href="{% url 'person-search' %}" class="btn btn-success"> <i class="fa-solid fa-plus"></i> Crear
                Nuevo</a>
        </div>

        </p>
    </div>
</div>
<script>
    function atenderCita(id) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: '¿Quieres cerrar la cita?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí, cerrar cita',
            cancelButtonText: 'Cancelar',
        }).then((result) => {
            if (result.isConfirmed) {
                var url = '/appointment/close-process?id=' + id;
                fetch(url, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json; charset=UTF-8'
                    }
                })
                    .then(response => {
                        console.log("response", response)
                        result = response.json()
                        status_code = response.status;
                        if (status_code != 200) {
                            console.log('Error in getting brand info!')
                            return false;
                        }
                        return result
                    })
                    .then(result => {
                        if (result.success) {
                            Swal.fire({
                                title: 'Operación exitosa',
                                text: result.success,
                                icon: 'success',
                                timer: 1500,
                                showConfirmButton: false,
                            }).then(() => {
                                location.reload();
                            });
                        } else {
                            Swal.fire({
                                title: 'Error',
                                text: result.error,
                                icon: 'error',
                            });
                        }

                        setTimeout(() => {
                            // var redirectUrl = "{% url 'citation-cancel-form' %}";
                            // window.location.href = redirectUrl; 
                        }, 500);
                    })
                    .catch(error => {
                        console.log(error)
                        setTimeout(() => {
                            var redirectUrl = "{% url 'citation-cancel-form' %}";
                            window.location.href = redirectUrl;
                        }, 500);
                    });
            }
        });
    }


    function deleteCitation(id) {
        Swal.fire({
            title: 'Eliminar Cita',
            text: '¿Seguro  quiere eliminar la cita?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí, eliminar cita',
            cancelButtonText: 'Cancelar',
        }).then((result) => {
            if (result.isConfirmed) {
                var url = '/appointment/citation/delete/' + id;
                fetch(url, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json; charset=UTF-8'
                    },
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                })
                    .then(response => {
                        console.log("response", response)
                        result = response.json()
                        status_code = response.status;
                        if (status_code != 200) {
                            console.log('Error in getting brand info!')
                            return false;
                        }
                        return result
                    })
                    .then(result => {
                        console.log("response", result);
                        if (result.success) {
                            Swal.fire({
                                title: 'Operación exitosa',
                                text: result.success,
                                icon: 'success',
                                timer: 1500,
                                showConfirmButton: false,
                            }).then(() => {
                                location.reload();
                            });
                        } else {
                            Swal.fire({
                                title: 'Error',
                                text: result.error,
                                icon: 'error',
                            });
                        }

                        setTimeout(() => {
                            // var redirectUrl = "{% url 'citation-cancel-form' %}";
                            // window.location.href = redirectUrl; 
                        }, 500);
                    })
                    .catch(error => {
                        console.log(error)
                        setTimeout(() => {
                            var redirectUrl = "{% url 'citation-list' %}";
                            window.location.href = redirectUrl;
                        }, 500);
                    });
            }
        });


    }

    function getCookie(name) {
        // Divide la cadena de cookies en partes
        var cookieArray = document.cookie.split(';');

        // Itera sobre las partes para buscar la cookie deseada
        for (var i = 0; i < cookieArray.length; i++) {
            var cookie = cookieArray[i].trim();
            // Comprueba si la cookie comienza con el nombre deseado
            if (cookie.indexOf(name + '=') === 0) {
                // Devuelve el valor de la cookie
                return cookie.substring(name.length + 1);
            }
        }
        // Si la cookie no se encuentra, devuelve null
        return null;
    }
</script>

<style>
    .card {
        box-shadow: 0 2px 4px rgba(0, 0, 20, .08), 0 1px 2px rgba(0, 0, 20, .08);
        border: 0;
        border-radius: 0.5rem;
    }

    .card-body {
        padding: 0 1rem;
        background-color: #fafafa;

    }

    .card .card-header {
        background-color: #ebeeee !important;

    }

    .title-list {
        font-weight: bolder;
        text-transform: capitalize;
        color: #637381;
    }

    .table thead th {
        padding: 0.75rem 1.5rem;
        text-transform: capitalize;
        color: #637381;
    }

    .table .tbody {
        font-size: 15px;
    }

    .table>:not(caption)>*>* {
        background-color: var(--bs-table-bg);
        border-bottom-width: 1px;
        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }

    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
        border: 0 solid;
        border-color: inherit;
    }
</style>
{% endblock content %}